.category_conatiner {
  max-width: 1024px;
  margin: 120px auto;
  display: flex;

  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
h2 {
  margin-bottom: 24px;
  color: #171717;
}

.category_form {
  margin: 1rem;
}

.category-form-control {
  padding: 7px 15px;
  height: 34px;
  box-sizing: border-box;
}
.category_row {
  display: flex;
  justify-content: space-between;
}

.category-btn {
  padding: 9px 15px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-left: 16px;
  height: 34px;
  border: none;
}

.category-btn-primary {
  color: #ffffff;
  background-color: #4caf50;
}

.btn-default {
  color: #ffffff;
  background-color: #444;
}

.description {
  font-size: 16px;
}

#productList {
  margin: 18px 0 20px;
  padding: 0;
  list-style: none;
}

#productList li {
  max-width: 600px;
  padding: 10px 20px;
  align-items: center;
}

#productList li .text {
  font-size: 18px;
  text-transform: capitalize;
  color: #171717;
  margin-right: 12rem;
}

#productList li:nth-child(odd) {
  background-color: #f9f9f9;
}

#productList li button {
  text-align: right;
  padding: 7px 15px;
  margin-left: 10px;
}

#productList li button.category-delete {
  background-color: red;
  color: #fff;
}

#changeStyleBtn {
  margin-right: 30px;
}

fieldset {
  margin-top: 20px;
}

@media (max-width: 630px) {
  .category_form {
    margin: 1rem;
    display: flex;
  }
  .category-btn-conatiner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    margin-right: 1rem;
  }
  .category-btn {
    padding: 0px 15px;
    margin-bottom: 0.2rem;
  }
  #productList li .text {
    margin-right: 9rem;
  }
}
