@import url("https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap");

.grid {
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Nunito, Roboto, Arial, sans-serif;
  background: #4d6fe5;
  box-sizing: border-box;
}
.container {
  color: #fff;
  margin-top: 100px;
  text-align: center;
}
.container > header {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 auto 60px auto;
  position: relative;
  height: 25px;
  width: 250px;
  overflow: hidden;
}

.header-headings {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.header-headings > span {
  margin: -1px 0;
}
.header-headings.sign-in {
  transform: translateY(0);
}
.header-headings.sign-up {
  transform: translateY(-25px);
}
.header-headings.forgot {
  transform: translateY(-50px);
}

.options {
  display: flex;
  align-items: center;
  width: 350px;
}
@media screen and (max-width: 380px) {
  .options {
    width: 100%;
  }
}
.options > li {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s ease;
  list-style-type: none;
}
.options > li:hover {
  opacity: 1;
}
.options > li.active {
  opacity: 1;
}
.options > li:nth-of-type(2) {
  margin-left: 35px;
}
.options > li:last-of-type {
  margin-left: auto;
}
